
<div class="container">
    <div class="cards card-user rounded">
        <div class="avatar me-3"><img class="img-thumbnail" alt="No contain photo" src="{{userInfo.avatar}}"></div>
        <div class="infos">
            <div class="info">Name<label>{{userInfo.name}}</label></div>
            <div class="info">UrlUser
                <label>
                    <a href="https://github.com/teste" class="info-url" target="_blank">{{userInfo.urlUser}}</a>
                </label>
            </div>
            <div class="info info__bio">Bio<label>{{userInfo.bio}}</label></div>
        </div>
    </div>
</div>
