a{
    text-decoration: none;
    color: white;
}
.navbar {
    display: flex;
    background-color: rebeccapurple;
    padding-left: 20px;
    padding-right: 20px;
    height: 90px;
}
.nav__logo {
    display: flex;
    justify-content: left;
    align-items: center;
}

.logo-git {
    width: 40px;
    border-radius: 15px;
    margin-right: 10px;
}

