a{
    text-decoration: none;
    color: white;
}
.header__navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #232730;
    padding-left: 20px;
    padding-right: 20px;
    height: 90px;
}

.navbar__logo {
    display: flex;
    justify-content: left;
    align-items: center;
    cursor: pointer;
    margin-left: 3%;
    width: 25%;
}

.navbar-brand a {
    transition: 0.3s;
}

.logo-git {
    width: 40px;
    border-radius: 15px;
    margin-right: 10px;
}

.navbar__input2 {
    height: 60px;
    background-color: #232730;
}

.navbar__bars {
    cursor: pointer;
    color: #fff;
    font-size: 35px;
    transition: 0.3s;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.navbar__bars p{
    color: #acacac;
    font-size: 20px;
    padding-bottom: 0px;
    margin: 0px;
}

.navbar__bars:hover, .navbar__logo a:hover {
    color: #acacac;
}

@media only screen and (max-width: 560px) {
    .header__navbar {
       
    }

    .navbar__logo {
        margin-left: 25%;
        width: 50%;
    }

    .navbar__bars {
        margin-right: 0%;
        width: 15%;
    }
}