.filter-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(35, 39, 48, 0.65);;
  border-radius: 10px;
  padding: 15px;
}

.filter-form input, select {
  height: 35px;
  width: 300px;
  border-radius: 5px 5px;
  background-color: #ccc;
  font-size: 14px;
  margin-top: 5%;
  padding: 5px;
}

.filter-form-title {
  color: white;
}

.form__name {
  height: 60px;
}

.filter-by-date {
  display: flex;
  width: 100%;
}

.filter-form__date {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.filter-form__date label{
  color: #7d96bd;
}

.filter-form__date input, .filter-form__date select {
  width: 90px;
}

.filter-form__button {
  height: 35px;
  width: 300px;
  border-radius: 5px 5px;
  margin-top: 15px;
  font-size: 16px;
}

@media only screen and (max-width: 500px) { 

  .form__name, .form__date {
    display: flex;

  }

}