
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
}

.card-login {
    align-items: center;
    background-color: #212529;
    box-shadow: 0 1px 5px rgb(0 0 0 / 20%);
    display: flex;
    flex-direction: column;    
    margin: 0px auto auto;
    padding: 11px;
    width: 45%;
}

.forms {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.my-input {
    height: 45px;
}

.but {
    height: 48px;
}

::ng-deep .custom-style{
    background-color:#600000e0;
    color:white;
  }