.contains {
    height: 65vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: start;
}
.mtop-90{
    margin-top: 90px;
}



@media only screen and (max-width: 1024px) {
    .contains {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
    }

   
}