::ng-deep .menu-style{
    background-color: #232730;
    margin-top: 88px;
    padding: 0px;
    top: 0px;
}

::ng-deep .mat-snack-bar-container{
    min-width: 205px;
    margin-right: 0px;
    margin-left: 0px;
}

.menu {
    text-align: start;    
    width: 100%;
}

.menu ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li a {
    cursor: pointer;
    color: rgb(255, 255, 255);
    font-size: 18px;
    display: block;    
    height: 50px;
    padding: 16px;  
    text-decoration: none;
    transition: 0.5s;
}

li a:hover {
    background-color: rgb(41, 43, 46);
}

@media only screen and (max-width: 600px) {    
    
}