<div class="div-group">
    <div class="container">
        <div class="cards card-user rounded">
            <div class="avatar me-3"><img class="img-thumbnail" alt="No contain photo" src="{{userInput.avatar}}"></div>
            <div class="infos">
                <div class="info">Name<label>{{userInput.name}}</label></div>
                <div class="info">Bio<label>{{userInput.bio}}</label></div>
                <div class="info">UrlUser
                    <label>
                        <a href="https://github.com/teste" class="info-url" target="_blank">{{userInput.urlUser}}</a>
                    </label>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="div-group">
    <div class="cards card-table rounded">
        <div class="table__title">
            <!-- <div class="stars me-3"><i class="fa fa-star me-2" aria-hidden="true"></i></div> -->
            <div class="title__tex">
                <caption>Top #5 - Favorite Repositories</caption>
            </div>
            <!-- <div class="stars ms-3"><i class="fa fa-star me-2" aria-hidden="true"></i></div> -->
        </div>
        <table aria-describedby="table of campaigns" class="content__table">
            <thead class="table__thead">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">flagType</th>
                    <th scope="col" class="text-center">Git</th>
                </tr>
            </thead>
            <tbody class="table__tdoby" *ngFor="let starredList of userInput.starredList">
                <tr>
                    <td>{{starredList.name}}</td>
                    <td>{{starredList.description}}</td>
                    <td class="text-center">{{starredList.flagType}}</td>
                    <td>
                       <button class="btn">
                            <a class="eyes" href="{{starredList.urlRepository}}" target="_blank">
                                <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
                       </button>
                    </td>
                </tr>
            </tbody>
        </table>
        <div class="no-starred mt-4" *ngIf="userInput.starredList.length == 0">
            <p>No existe favorite repositores...</p>
        </div>
    </div>
</div>