<div class="div-group">
    <div class="container">
        <div class="cards card-user rounded">
            <div class="avatar me-3"><img class="img-thumbnail" alt="No contain photo" src="{{userInput.avatar}}"></div>
            <div class="infos">
                <div class="info">Name<label>{{userInput.name}}</label></div>
                <div class="info">UrlUser
                    <label>
                        <a href="https://github.com/teste" class="info-url" target="_blank">{{userInput.urlUser}}</a>
                    </label>
                </div>
                <div class="info">Bio<label>{{userInput.bio}}</label></div>
            </div>
        </div>
    </div>
</div>
<app-starred-list [starredListArray]="userInput.starredList"></app-starred-list>