<div class="contains__table">
    <table aria-describedby="table of filtered search" class="content__table">
        <thead class="table__thead">
            <tr>
                <th scope="col">Data consulta</th>
                <th scope="col">Nome</th>
                <th scope="col">Bio</th>
                <th scope="col">UrlUser</th>
                <th scope="col" class="text-center">Top 5 Repositórios</th>
            </tr>
        </thead>
        <tbody class="table__tdoby">
            <tr>
                <td style="width: 15%;">02/04/2004</td>
                <td style="width: 20%;">corcel2</td>
                <td style="width: 25%;">exemplo de bio exemplo de bio</td>
                <td style="width: 20%;">https://api.github.com/users/corceo2...</td>
                <td class="center">
                    <button class="btn">
                        <a class="eyes" href="urldorepositorio" target="_blank">
                            <div class="eyes">
                                <p class="fa fa-eye eyes" style="text-align: center;" aria-hidden="true"></p>
                            </div>
                        </a>
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>