.content__table {
  border-collapse: collapse;
  border-top-left-radius: 0.3rem;
  border-top-right-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
  overflow: hidden;
  font-family: Source Sans Pro, sans-serif;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
}

.table__thead {
  height: 50px;
}

.table__thead tr {
  background-color: rgb(4 64 8);
  color: #ffffff;
  font-weight: bold;
  font-size: 14px;
  
  line-height: 14px;
  backdrop-filter: drop-shadow(4px 4px 10px blue);
  padding-left: 2px;
}

tr td,
tr th {
  height: 40px;
  padding: 5px 15px 5px 16px;
  text-align: start;
}

.table__tdoby tr {
  background-color: #212529;
  border-bottom: 1px solid #424242;
  color: #cdcdcd;
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 14px;
}

.tdoby__tr__link {
  cursor: pointer;
  transition: 0.4s;
}

.tdoby__tr__link:hover {
  color: rgb(131, 131, 204);
}

.eyes {
  color: #5B9DFF;
  font-size: 20px;
  transition: 0.4s;
}

.eyes:hover {
  color: #385b91;
}

.not-found-register {
  background: rgba(85, 90, 101, 0.25);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  height: 175px;
  width: 100%;
}

.not-found-register p{
  color: #D9D9D9;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  margin: 0px;
}

.pagination {
  padding: 0px;
}

mat-paginator {
  background: rgba(41, 46, 56, 0.82);
  border-radius: 10px;
  color: #217D1F;
  height: 48px;
  margin-top: 30px;
  width: 100%;
}

mat-paginator button{
  color: #217D1F;
}

::ng-deep .mat-paginator-page-size-select {
  width: 27px!important;
}
::ng-deep .mat-form-field-appearance-legacy .mat-form-field-underline {
  background-color: transparent;
}

::ng-deep .mat-select-value {
color: #005999;
  font-weight: bold;
  font-size: 15px;
}
::ng-deep .mat-select-arrow {
  color: #005999;
}
::ng-deep .mat-option{
padding: 0!important;

}
::ng-deep .mat-option-text {

  text-align: right;
}

@media only screen and (max-width: 560px) {
  .content__table {
    width: auto;
  }

  .table__tdoby{
    border-top: 8px solid #2E343F;    
    height: 30px;
  }

  .table__tdoby tr {
    font-weight: 400;
  }

}