.contains {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin-top: 80px;
  padding-top: 50px;
  height: 100%;
  width: 100%;
}

.form {
  display: flex;
  margin-left: 5%;
}

.table {
  display: flex;
  justify-content: center;
  margin-left: 5%;
  width: 50%;
}